### Data Import

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
True_news = pd.read_csv('True.csv')
Fake_news = pd.read_csv('Fake.csv')

In [3]:
True_news['label'] = 0

In [4]:
Fake_news['label'] = 1

In [5]:
True_news.head()

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",0

In [6]:
Fake_news.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",1
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",1

In [7]:
dataset1 = True_news[['text','label']]
dataset2 = Fake_news[['text','label']]

In [8]:
dataset = pd.concat([dataset1 , dataset2])

In [9]:
dataset.shape

(44898, 2)

### Null values

In [10]:
dataset.isnull().sum() # no null values

text     0
label    0
dtype: int64

### Balanced or Unbalanced dataset

In [11]:
dataset['label'].value_counts()

1    23481
0    21417
Name: label, dtype: int64

In [12]:
dataset1.shape # true news

(21417, 2)

In [13]:
dataset2.shape # fake news

(23481, 2)

### Shuffle or Resample

In [14]:
dataset = dataset.sample(frac = 1)

In [15]:
dataset.head(20)

                                                    text  label
22161  21st Century Wire says It was an awkward fit o...      1
17723  MONROVIA (Reuters) - One of Liberia s leading ...      0
13759  MOSCOW (Reuters) - Former Russian economy mini...      0
9387   (Reuters) - Officials from 11 U.S. states sued...      0
18704  COLBERT   LANGUAGE WARNING! This late night ho...      1
2476   Kellyanne Conway, who serves as a senior advis...      1
16571  I ll bet you re thinking this is a joke, right...      1
6836   WASHINGTON (Reuters) - U.S. President-elect Do...      0
13742  Don t buy into the media lie that every LEGAL ...      1
468    Donald Trump has the maturity of a toddler, an...      1
13729  TEGUCIGALPA (Reuters) - With 70 percent of bal...      0
7098   Who needs experts, really, when one can rely o...      1
3084   There s a man who s been permanently banned fr...      1
5895   BERLIN (Reuters) - German Chancellor Angela Me...      0
4123   WASHINGTON (Reuters) - U.S. Treasury Secretary...      0
6989   NEW YORK (Reuters) - President-elect Donald Tr...      0
10640  Will Austria s new mandates help to save their...      1
7968    NEW YORK (Reuters) - A majority of Americans ...      0
2934   WASHINGTON (Reuters) - Twenty moderate Republi...      0
5332   NEW YORK (Reuters) - NATO is the “strongest al...      0

In [16]:
import nltk

In [17]:
import re
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [18]:
ps = WordNetLemmatizer()

In [19]:
stopwords = stopwords.words('english')

In [20]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [21]:
def cleaning_data(row):
    
    # convert text to into lower case
    row = row.lower() 
    
    # this line of code only take words from text and remove number and special character using RegX
    row = re.sub('[^a-zA-Z]' , ' ' , row)
    
    # split the data and make token.
    token = row.split() 
    
    # lemmatize the word and remove stop words like a, an , the , is ,are ...
    news = [ps.lemmatize(word) for word in token if not word in stopwords]  
    
    # finaly join all the token with space
    cleanned_news = ' '.join(news) 
    
    # return cleanned data
    return cleanned_news

In [22]:
dataset['text'] = dataset['text'].apply(lambda x : cleaning_data(x))

In [23]:
dataset.isnull().sum()

text     0
label    0
dtype: int64

In [24]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [25]:
vectorizer = TfidfVectorizer(max_features = 50000 , lowercase=False , ngram_range=(1,2))

In [26]:
dataset.shape

(44898, 2)

In [27]:
X = dataset.iloc[:35000,0]
y = dataset.iloc[:35000,1]

In [28]:
X.head()

22161    st century wire say awkward fit nerve donald m...
17723    monrovia reuters one liberia leading political...
13759    moscow reuters former russian economy minister...
9387     reuters official u state sued obama administra...
18704    colbert language warning late night host one a...
Name: text, dtype: object

In [29]:
y.head()

22161    1
17723    0
13759    0
9387     0
18704    1
Name: label, dtype: int64

In [30]:
from sklearn.model_selection import train_test_split
train_data , test_data , train_label , test_label = train_test_split(X , y , test_size = 0.2 ,random_state = 0)

In [31]:
vec_train_data = vectorizer.fit_transform(train_data)

In [32]:
vec_train_data = vec_train_data.toarray()

In [33]:
train_data.shape , test_data.shape

((28000,), (7000,))

In [34]:
vec_test_data = vectorizer.transform(test_data).toarray()

In [35]:
vec_train_data.shape , vec_test_data.shape

((28000, 50000), (7000, 50000))

In [36]:
train_label.value_counts() # balanced partition

1    14615
0    13385
Name: label, dtype: int64

In [37]:
test_label.value_counts() # balanced partition

1    3674
0    3326
Name: label, dtype: int64

In [38]:
training_data = pd.DataFrame(vec_train_data , columns=vectorizer.get_feature_names())
testing_data = pd.DataFrame(vec_test_data , columns= vectorizer.get_feature_names())

In [39]:
from sklearn.naive_bayes import MultinomialNB

In [40]:
from sklearn.metrics import accuracy_score,classification_report

In [41]:
clf = MultinomialNB()

In [42]:
clf.fit(training_data, train_label)
y_pred  = clf.predict(testing_data)

### MultinomialNB

In [43]:
pd.Series(y_pred).value_counts()

1    3734
0    3266
dtype: int64

In [44]:
test_label.value_counts()

1    3674
0    3326
Name: label, dtype: int64

In [45]:
print(classification_report(test_label , y_pred))

              precision    recall  f1-score   support

           0       0.96      0.94      0.95      3326
           1       0.95      0.96      0.96      3674

    accuracy                           0.95      7000
   macro avg       0.95      0.95      0.95      7000
weighted avg       0.95      0.95      0.95      7000

Now predict on both train set

In [46]:
y_pred_train = clf.predict(training_data)
print(classification_report(train_label , y_pred_train))

              precision    recall  f1-score   support

           0       0.96      0.95      0.96     13385
           1       0.96      0.96      0.96     14615

    accuracy                           0.96     28000
   macro avg       0.96      0.96      0.96     28000
weighted avg       0.96      0.96      0.96     28000

In [47]:
accuracy_score(train_label , y_pred_train)

0.9584642857142858

In [48]:
accuracy_score(test_label , y_pred)

0.9531428571428572

In [49]:
news = cleaning_data(str("Imposters posing as army personnel on the social media have been called out by the Indian Army as false news and disinformation."))

In [50]:
single_prediction = clf.predict(vectorizer.transform([news]).toarray())
single_prediction

array([1])

### Save the Model

In [2]:
import joblib

In [53]:
joblib.dump(clf , 'model.pkl')

['model.pkl']

In [ ]:
model = joblib.load('model.pkl')